name: Build

on:
  workflow_dispatch:
  push:
  pull_request:
    types:
      - opened
      - edited
jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    steps:
    - name: Checkout source
      uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '11' # The JDK version to make available on the path.
        java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
        architecture: x64 # (x64 or x86) - defaults to x64

    - name: Build and publish chassis
      run: |
        cd service-chassis
        ./gradlew build
        ./gradlew publish

    - name: Build service template
      run: |
        # grr... testcontainers.reuse.enable=true needs to be in home dir
        cp dot.testcontainers.properties ~/.testcontainers.properties
        cd service-template
        ./gradlew compileAll
        export DOCKER_HOST_IP=$(hostname -I | sed -e 's/ .*//g')
        echo DOCKER_HOST_IP=$DOCKER_HOST_IP
        ./gradlew build

    - name: Publish chassis
      run: |
        cd service-chassis
        export MAVEN_REPO_USERNAME=skyglass
        export MAVEN_REPO_PASSWORD="${{ secrets.GITHUB_TOKEN }}"
        ./gradlew publish -P chassisRepo=https://maven.pkg.github.com/$GITHUB_REPOSITORY

    - name: Publish template
      run: |
        git config --global user.email "skyglass2001@gmail.com"
        git config --global user.name "skyglass"
        ./publish-service-template.sh "https://maven.pkg.github.com/$GITHUB_REPOSITORY"

    - name: Publish image
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u skyglass --password-stdin
        docker tag service-template ghcr.io/$GITHUB_REPOSITORY
        docker push ghcr.io/$GITHUB_REPOSITORY

    - name: Save test results
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: test-reports
        path: |
          **/build/reports
          **/build/reports/tests/
          **/build/test-results

    - name: get container logs
      run: ./.github/workflows/print-container-logs.sh
      if: ${{ always() }}

    - name: Save container logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: container-logs
        path: ~/container-logs
